@font-face {
    font-family: 'Montserrat Light';
    src: url('./../../assets/Montserrat-Light.ttf') format('truetype');
}

.MovieItem {
    cursor: pointer;
    background: rgba(63, 64, 69, 0.5);
    border-bottom: 2px solid rgb(40, 41, 44);
    height: 80px;
    width: 100%;
    padding: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    img {
        height: 80px;
    }

    .card-body {
        width: 100%;
        padding: 0 10px;

        .tags {
            display: flex;
            margin-top: 10px;
        }

        .tag {
            width: fit-content;
            padding: 0 10px;
            margin-right: 5px;
            background: #30292F;
            border-radius: 20px;

            p {
                font-family: 'Montserrat Light', sans-serif;
                font-size: 10px;
                color: #FFFFFF;
            }
        }
    }

    .card-header {
        width: 420px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 375px;
        }

        h3, p {
            font-family: 'Montserrat Light', sans-serif;
            font-weight: 100;
            font-size: 12px;
            color: #FFFFFF;
        }

        span {
            padding: 0 2px;
        }
    }    
}

@media screen and (max-width: 600px) {
    
    .card-header div {
        width: 280px;

        h3 {
            width: 250px;
            overflow-x: hidden;
            text-overflow: ellipsis;
        }
    }
}