.Movies {
    width: 500px;
    height: 100%;

    background: rgba(255, 255, 255, 0.1);
    box-shadow: inset -2px -2px 2px rgba(48, 41, 47, 0.25), inset 2px 2px 2px rgba(255, 255, 255, 0.1);
    border-radius: 10px
}

@media screen and (max-width: 600px) {
    .Movies {
        width: 350px;
        margin: 20px auto 0 auto;
    }
}